.container {
    --border-width: 1em;
    --border-color: url(./assets/borders/special-episode.png);
    --border-background: rgba(0, 55, 0, 0.815);

    border: var(--border-width) solid;
    border-radius: var(--border-width);
    border-image: var(--border-color) 32 repeat;
    background-color: var(--border-background);
    margin: 0.2em;
}

.container.header {
    --border-width: 1.5em;
}

.container.red {
    --border-color: url(./assets/borders/magmortar.png);
    --border-background: rgba(55, 0, 0, 0.815);
}

.container.blue {
    --border-color: url(./assets/borders/male.png);
    --border-background: rgba(0, 0, 55, 0.815);
}

.container.yellow {
    --border-color: url(./assets/borders/pikachu.png);
    --border-background: rgba(55, 55, 0, 0.815);
}