@font-face {
    font-family: Wondermail;
    src: url(./wondermail.ttf);
}

body {
    overflow-wrap: break-word;
    image-rendering: pixelated;
    color: rgb(230, 230, 230);
}

.main-grid {
    display: grid;
    justify-items: center;
    text-align: center;
}

.main-grid > *:not(:first-child) {
    border-top: 10px solid black;
}

.repo, .pmdo {
    width: 100%;
    padding: 2%;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: overlay;
}